In [1]:
1+1

2

In [2]:
#https://alejandro-ao.com/chat-with-mysql-using-python-and-langchain/
#https://www.youtube.com/watch?v=9ccl1_Wu24Q
import sys
print(sys.version)

3.12.3 (main, Nov  6 2024, 18:32:19) [GCC 13.2.0]

In [3]:
print(sys.version_info)

sys.version_info(major=3, minor=12, micro=3, releaselevel='final', serial=0)

In [ ]:
#https://github.com/lerocha/chinook-database
#https://github.com/lerocha/chinook-database/releases

In [ ]:
#sudo apt install sqlite3
#sqlite3 chinook.db

#.read Chinook.sql --or the name of your SQL file to load the database
#.read Chinook_Sqlite.sqlite --or the name of your SQL file to load the database

In [ ]:
#sudo apt install mysql-server-core-8.0
#OR use -> sudo apt install mariadb-client-core

#I went with mysql as per:
# sudo apt update
# sudo apt install mysql-server -y
# sudo systemctl start mysql
# sudo systemctl status mysql
# sudo systemctl enable mysql #start at boot



#sudo mysql -u root -p

In [ ]:
# CREATE DATABASE chinook;
# USE chinook;
# SOURCE chinook.sql; --or the name of your SQL file to load the database
# SOURCE Chinook_MySql.sql; --or the name of your SQL file to load the database

#SHOW TABLES;
#SELECT * FROM Album LIMIT 10;
# DESCRIBE Artist;
# SHOW FULL TABLES;

In [ ]:


# SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE, IS_NULLABLE, COLUMN_DEFAULT
# FROM INFORMATION_SCHEMA.COLUMNS
# WHERE TABLE_SCHEMA = 'chinook';

### SEE THE ENTIRE SCHEMA OF THE CHINOOK DATABASE!
# SELECT 
#     TABLE_NAME AS `Table`, 
#     COLUMN_NAME AS `Column`, 
#     DATA_TYPE AS `Data Type`, 
#     CHARACTER_MAXIMUM_LENGTH AS `Max Length`, 
#     IS_NULLABLE AS `Nullable`, 
#     COLUMN_KEY AS `Key`, 
#     COLUMN_DEFAULT AS `Default Value`
# FROM 
#     INFORMATION_SCHEMA.COLUMNS
# WHERE 
#     TABLE_SCHEMA = 'Chinook'
# ORDER BY 
#     TABLE_NAME, ORDINAL_POSITION;