In [2]:
1+1

2

In [ ]:
#https://alejandro-ao.com/chat-with-mysql-using-python-and-langchain/
#https://www.youtube.com/watch?v=9ccl1_Wu24Q
import sys
print(sys.version)

3.12.3 (main, Nov  6 2024, 18:32:19) [GCC 13.2.0]

In [3]:
print(sys.version_info)

sys.version_info(major=3, minor=12, micro=3, releaselevel='final', serial=0)

## DB Setup

In [ ]:
#https://github.com/lerocha/chinook-database
#https://github.com/lerocha/chinook-database/releases

In [ ]:
#sudo apt install sqlite3
#sqlite3 chinook.db

#.read Chinook.sql --or the name of your SQL file to load the database
#.read Chinook_Sqlite.sqlite --or the name of your SQL file to load the database

In [ ]:
#sudo apt install mysql-server-core-8.0
#OR use -> sudo apt install mariadb-client-core

#I went with mysql as per:
# sudo apt update
# sudo apt install mysql-server -y
# sudo systemctl start mysql
# sudo systemctl status mysql
# sudo systemctl enable mysql #start at boot



#sudo mysql -u root -p

In [ ]:
# CREATE DATABASE chinook;
# USE chinook;
# SOURCE chinook.sql; --or the name of your SQL file to load the database
# SOURCE Chinook_MySql.sql; --or the name of your SQL file to load the database

#SHOW TABLES;
#SELECT * FROM Album LIMIT 10;
# DESCRIBE Artist;
# SHOW FULL TABLES;

You can render the mermaid **diagram of a DB Schema** as per [this post](https://jalcocert.github.io/JAlcocerT/how-to-chat-with-your-data/#chat-with-a-db-with-langchain)

In [ ]:


# SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE, IS_NULLABLE, COLUMN_DEFAULT
# FROM INFORMATION_SCHEMA.COLUMNS
# WHERE TABLE_SCHEMA = 'chinook';

### SEE THE ENTIRE SCHEMA OF THE CHINOOK DATABASE!
# SELECT 
#     TABLE_NAME AS `Table`, 
#     COLUMN_NAME AS `Column`, 
#     DATA_TYPE AS `Data Type`, 
#     CHARACTER_MAXIMUM_LENGTH AS `Max Length`, 
#     IS_NULLABLE AS `Nullable`, 
#     COLUMN_KEY AS `Key`, 
#     COLUMN_DEFAULT AS `Default Value`
# FROM 
#     INFORMATION_SCHEMA.COLUMNS
# WHERE 
#     TABLE_SCHEMA = 'Chinook'
# ORDER BY 
#     TABLE_NAME, ORDINAL_POSITION;

## Python BackEnd Setup

In [5]:
#source .env

#export OPENAI_API_KEY="your-api-key-here"
#set OPENAI_API_KEY=your-api-key-here
#$env:OPENAI_API_KEY="your-api-key-here"

#echo $OPENAI_API_KEY

In [1]:
import os
from dotenv import load_dotenv
from openai import OpenAI

In [4]:
# Load environment variables from the .env file
load_dotenv()

# Get the OpenAI API key from the environment variables
api_key = os.getenv("OPENAI_API_KEY")
#print(api_key)

In [ ]:
#pip install langchain==0.1.7

In [6]:
from langchain_core.prompts import ChatPromptTemplate

template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Question: {question}
SQL Query:"""
prompt = ChatPromptTemplate.from_template(template)

In [7]:
prompt.format(schema="my schema", question="how many users are there?")

"Human: Based on the table schema below, write a SQL query that would answer the user's question:\nmy schema\n\nQuestion: how many users are there?\nSQL Query:"

In [ ]:
#pip install mysql-connector-python==8.3.0
#pip freeze | grep sql

In [ ]:
#sudo systemctl status mysql
#sudo mysql -u root -padmin

#SHOW DATABASES;
#SHOW VARIABLES LIKE 'port';
#SHOW VARIABLES LIKE 'socket';

In [ ]:
#sudo ss -tuln | grep 127.0.0.1
#sudo ss -tuln | grep 3306

Update the **root userâ€™s authentication method** to use the `mysql_native_password` plugin (which allows password-based login):

In [ ]:
#sudo mysql -u root
#USE mysql;
#ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'your_password';
#FLUSH PRIVILEGES;
#EXIT

#mysql -u root -p

In [ ]:
from langchain_community.utilities import SQLDatabase

# if you are using SQLite
#sqlite_uri = 'sqlite:///./Chinook.db' 

# if you are using MySQL
#mysql_uri = 'mysql+mysqlconnector://root:colerany$iM92@localhost:3306/test_db'
mysql_uri = 'mysql+mysqlconnector://root:your_password@localhost:3306/Chinook' #PASS WAS SETUP JUST ABOVE

#db = SQLDatabase.from_uri(sqlite_uri)
db = SQLDatabase.from_uri(mysql_uri)

Now we can **QUERY THE DB FROM PYTHON**

In [17]:
db.run("Select * FROM Album LIMIT 5")

"[(1, 'For Those About To Rock We Salute You', 1), (2, 'Balls to the Wall', 2), (3, 'Restless and Wild', 2), (4, 'Let There Be Rock', 1), (5, 'Big Ones', 3)]"