In [2]:
1+1

2

In [ ]:
#https://alejandro-ao.com/chat-with-mysql-using-python-and-langchain/
#https://www.youtube.com/watch?v=9ccl1_Wu24Q
import sys
print(sys.version)

3.12.3 (main, Nov  6 2024, 18:32:19) [GCC 13.2.0]

In [3]:
print(sys.version_info)

sys.version_info(major=3, minor=12, micro=3, releaselevel='final', serial=0)

## DB Setup

In [ ]:
#https://github.com/lerocha/chinook-database
#https://github.com/lerocha/chinook-database/releases

In [ ]:
#sudo apt install sqlite3
#sqlite3 chinook.db

#.read Chinook.sql --or the name of your SQL file to load the database
#.read Chinook_Sqlite.sqlite --or the name of your SQL file to load the database

In [ ]:
#sudo apt install mysql-server-core-8.0
#OR use -> sudo apt install mariadb-client-core

#I went with mysql as per:
# sudo apt update
# sudo apt install mysql-server -y
# sudo systemctl start mysql
# sudo systemctl status mysql
# sudo systemctl enable mysql #start at boot



#sudo mysql -u root -p

In [ ]:
# CREATE DATABASE chinook;
# USE chinook;
# SOURCE chinook.sql; --or the name of your SQL file to load the database
# SOURCE Chinook_MySql.sql; --or the name of your SQL file to load the database

#SHOW TABLES;
#SELECT * FROM Album LIMIT 10;
# DESCRIBE Artist;
# SHOW FULL TABLES;

You can render the mermaid **diagram of a DB Schema** as per [this post](https://jalcocert.github.io/JAlcocerT/how-to-chat-with-your-data/#chat-with-a-db-with-langchain)

In [ ]:


# SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE, IS_NULLABLE, COLUMN_DEFAULT
# FROM INFORMATION_SCHEMA.COLUMNS
# WHERE TABLE_SCHEMA = 'chinook';

### SEE THE ENTIRE SCHEMA OF THE CHINOOK DATABASE! ###

#sudo mysql -u root
#USE mysql;
#ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'your_password';
#FLUSH PRIVILEGES;
#EXIT

#mysql -u root -p

# SELECT 
#     TABLE_NAME AS `Table`, 
#     COLUMN_NAME AS `Column`, 
#     DATA_TYPE AS `Data Type`, 
#     CHARACTER_MAXIMUM_LENGTH AS `Max Length`, 
#     IS_NULLABLE AS `Nullable`, 
#     COLUMN_KEY AS `Key`, 
#     COLUMN_DEFAULT AS `Default Value`
# FROM 
#     INFORMATION_SCHEMA.COLUMNS
# WHERE 
#     TABLE_SCHEMA = 'Chinook'
# ORDER BY 
#     TABLE_NAME, ORDINAL_POSITION;

## Python BackEnd Setup

In [5]:
#source .env

#export OPENAI_API_KEY="your-api-key-here"
#set OPENAI_API_KEY=your-api-key-here
#$env:OPENAI_API_KEY="your-api-key-here"

#echo $OPENAI_API_KEY

In [1]:
import os
from dotenv import load_dotenv
from openai import OpenAI

In [4]:
# Load environment variables from the .env file
load_dotenv()

# Get the OpenAI API key from the environment variables
api_key = os.getenv("OPENAI_API_KEY")
#print(api_key)

In [ ]:
#pip install langchain==0.1.7

In [6]:
from langchain_core.prompts import ChatPromptTemplate

template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Question: {question}
SQL Query:"""
prompt = ChatPromptTemplate.from_template(template)

In [7]:
prompt.format(schema="my schema", question="how many users are there?")

"Human: Based on the table schema below, write a SQL query that would answer the user's question:\nmy schema\n\nQuestion: how many users are there?\nSQL Query:"

In [ ]:
#pip install mysql-connector-python==8.3.0
#pip freeze | grep sql

In [ ]:
#sudo systemctl status mysql
#sudo mysql -u root -padmin

#SHOW DATABASES;
#SHOW VARIABLES LIKE 'port';
#SHOW VARIABLES LIKE 'socket';

In [ ]:
#sudo ss -tuln | grep 127.0.0.1
#sudo ss -tuln | grep 3306

Update the **root userâ€™s authentication method** to use the `mysql_native_password` plugin (which allows password-based login):

In [ ]:
#sudo mysql -u root
#USE mysql;
#ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'your_password';
#FLUSH PRIVILEGES;
#EXIT

#mysql -u root -p

In [ ]:
from langchain_community.utilities import SQLDatabase

# if you are using SQLite
#sqlite_uri = 'sqlite:///./Chinook.db' 

# if you are using MySQL
#mysql_uri = 'mysql+mysqlconnector://root:colerany$iM92@localhost:3306/test_db'
mysql_uri = 'mysql+mysqlconnector://root:your_password@localhost:3306/Chinook' #PASS WAS SETUP JUST ABOVE

#db = SQLDatabase.from_uri(sqlite_uri)
db = SQLDatabase.from_uri(mysql_uri)

Now we can **QUERY THE DB FROM PYTHON**

In [18]:
db.run("SHOW TABLES;")

"[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]"

In [17]:
db.run("Select * FROM Album LIMIT 5")

"[(1, 'For Those About To Rock We Salute You', 1), (2, 'Balls to the Wall', 2), (3, 'Restless and Wild', 2), (4, 'Let There Be Rock', 1), (5, 'Big Ones', 3)]"

In [ ]:
# def get_schema(db):
#     schema = db.get_table_info()
#     return schema

def get_schema(_):
    schema = db.get_table_info()
    return schema

In [22]:
get_schema(None)

'\nCREATE TABLE `Album` (\n\t`AlbumId` INTEGER NOT NULL, \n\t`Title` VARCHAR(160) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`ArtistId` INTEGER NOT NULL, \n\tPRIMARY KEY (`AlbumId`), \n\tCONSTRAINT `FK_AlbumArtistId` FOREIGN KEY(`ArtistId`) REFERENCES `Artist` (`ArtistId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from Album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/\n\n\nCREATE TABLE `Artist` (\n\t`ArtistId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`ArtistId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from Artist table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\n\n\nCREATE TABLE `Customer` (\n\t`CustomerId` INTEGER NOT NULL, \n\t`FirstName` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`LastName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`Company` VARCHAR(80) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Address` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`City` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`State` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Country` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`PostalCode` VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Phone` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Fax` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Email` VARCHAR(60) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`SupportRepId` INTEGER, \n\tPRIMARY KEY (`CustomerId`), \n\tCONSTRAINT `FK_CustomerSupportRepId` FOREIGN KEY(`SupportRepId`) REFERENCES `Employee` (`EmployeeId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from Customer table:\nCustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\tSupportRepId\n1\tLuÃ­s\tGonÃ§alves\tEmbraer - Empresa Brasileira de AeronÃ¡utica S.A.\tAv. Brigadeiro Faria Lima, 2170\tSÃ£o JosÃ© dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 (12) 3923-5566\tluisg@embraer.com.br\t3\n2\tLeonie\tKÃ¶hler\tNone\tTheodor-Heuss-StraÃŸe 34\tStuttgart\tNone\tGermany\t70174\t+49 0711 2842222\tNone\tleonekohler@surfeu.de\t5\n3\tFranÃ§ois\tTremblay\tNone\t1498 rue BÃ©langer\tMontrÃ©al\tQC\tCanada\tH2G 1A7\t+1 (514) 721-4711\tNone\tftremblay@gmail.com\t3\n*/\n\n\nCREATE TABLE `Employee` (\n\t`EmployeeId` INTEGER NOT NULL, \n\t`LastName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`FirstName` VARCHAR(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`Title` VARCHAR(30) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`ReportsTo` INTEGER, \n\t`BirthDate` DATETIME, \n\t`HireDate` DATETIME, \n\t`Address` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`City` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`State` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Country` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`PostalCode` VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Phone` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Fax` VARCHAR(24) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Email` VARCHAR(60) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`EmployeeId`), \n\tCONSTRAINT `FK_EmployeeReportsTo` FOREIGN KEY(`ReportsTo`) REFERENCES `Employee` (`EmployeeId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from Employee table:\nEmployeeId\tLastName\tFirstName\tTitle\tReportsTo\tBirthDate\tHireDate\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\n1\tAdams\tAndrew\tGeneral Manager\tNone\t1962-02-18 00:00:00\t2002-08-14 00:00:00\t11120 Jasper Ave NW\tEdmonton\tAB\tCanada\tT5K 2N1\t+1 (780) 428-9482\t+1 (780) 428-3457\tandrew@chinookcorp.com\n2\tEdwards\tNancy\tSales Manager\t1\t1958-12-08 00:00:00\t2002-05-01 00:00:00\t825 8 Ave SW\tCalgary\tAB\tCanada\tT2P 2T3\t+1 (403) 262-3443\t+1 (403) 262-3322\tnancy@chinookcorp.com\n3\tPeacock\tJane\tSales Support Agent\t2\t1973-08-29 00:00:00\t2002-04-01 00:00:00\t1111 6 Ave SW\tCalgary\tAB\tCanada\tT2P 5M5\t+1 (403) 262-3443\t+1 (403) 262-6712\tjane@chinookcorp.com\n*/\n\n\nCREATE TABLE `Genre` (\n\t`GenreId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`GenreId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from Genre table:\nGenreId\tName\n1\tRock\n2\tJazz\n3\tMetal\n*/\n\n\nCREATE TABLE `InvoiceLine` (\n\t`InvoiceLineId` INTEGER NOT NULL, \n\t`InvoiceId` INTEGER NOT NULL, \n\t`TrackId` INTEGER NOT NULL, \n\t`UnitPrice` DECIMAL(10, 2) NOT NULL, \n\t`Quantity` INTEGER NOT NULL, \n\tPRIMARY KEY (`InvoiceLineId`), \n\tCONSTRAINT `FK_InvoiceLineInvoiceId` FOREIGN KEY(`InvoiceId`) REFERENCES `Invoice` (`InvoiceId`), \n\tCONSTRAINT `FK_InvoiceLineTrackId` FOREIGN KEY(`TrackId`) REFERENCES `Track` (`TrackId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from InvoiceLine table:\nInvoiceLineId\tInvoiceId\tTrackId\tUnitPrice\tQuantity\n1\t1\t2\t0.99\t1\n2\t1\t4\t0.99\t1\n3\t2\t6\t0.99\t1\n*/\n\n\nCREATE TABLE `Invoice` (\n\t`InvoiceId` INTEGER NOT NULL, \n\t`CustomerId` INTEGER NOT NULL, \n\t`InvoiceDate` DATETIME NOT NULL, \n\t`BillingAddress` VARCHAR(70) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingCity` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingState` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingCountry` VARCHAR(40) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`BillingPostalCode` VARCHAR(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Total` DECIMAL(10, 2) NOT NULL, \n\tPRIMARY KEY (`InvoiceId`), \n\tCONSTRAINT `FK_InvoiceCustomerId` FOREIGN KEY(`CustomerId`) REFERENCES `Customer` (`CustomerId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from Invoice table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPostalCode\tTotal\n1\t2\t2021-01-01 00:00:00\tTheodor-Heuss-StraÃŸe 34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2021-01-02 00:00:00\tUllevÃ¥lsveien 14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2021-01-03 00:00:00\tGrÃ©trystraat 63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/\n\n\nCREATE TABLE `MediaType` (\n\t`MediaTypeId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`MediaTypeId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from MediaType table:\nMediaTypeId\tName\n1\tMPEG audio file\n2\tProtected AAC audio file\n3\tProtected MPEG-4 video file\n*/\n\n\nCREATE TABLE `PlaylistTrack` (\n\t`PlaylistId` INTEGER NOT NULL, \n\t`TrackId` INTEGER NOT NULL, \n\tPRIMARY KEY (`PlaylistId`, `TrackId`), \n\tCONSTRAINT `FK_PlaylistTrackPlaylistId` FOREIGN KEY(`PlaylistId`) REFERENCES `Playlist` (`PlaylistId`), \n\tCONSTRAINT `FK_PlaylistTrackTrackId` FOREIGN KEY(`TrackId`) REFERENCES `Track` (`TrackId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from PlaylistTrack table:\nPlaylistId\tTrackId\n1\t1\n1\t2\n1\t3\n*/\n\n\nCREATE TABLE `Playlist` (\n\t`PlaylistId` INTEGER NOT NULL, \n\t`Name` VARCHAR(120) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\tPRIMARY KEY (`PlaylistId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from Playlist table:\nPlaylistId\tName\n1\tMusic\n2\tMovies\n3\tTV Shows\n*/\n\n\nCREATE TABLE `Track` (\n\t`TrackId` INTEGER NOT NULL, \n\t`Name` VARCHAR(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL, \n\t`AlbumId` INTEGER, \n\t`MediaTypeId` INTEGER NOT NULL, \n\t`GenreId` INTEGER, \n\t`Composer` VARCHAR(220) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci, \n\t`Milliseconds` INTEGER NOT NULL, \n\t`Bytes` INTEGER, \n\t`UnitPrice` DECIMAL(10, 2) NOT NULL, \n\tPRIMARY KEY (`TrackId`), \n\tCONSTRAINT `FK_TrackAlbumId` FOREIGN KEY(`AlbumId`) REFERENCES `Album` (`AlbumId`), \n\tCONSTRAINT `FK_TrackGenreId` FOREIGN KEY(`GenreId`) REFERENCES `Genre` (`GenreId`), \n\tCONSTRAINT `FK_TrackMediaTypeId` FOREIGN KEY(`MediaTypeId`) REFERENCES `MediaType` (`MediaTypeId`)\n)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci\n\n/*\n3 rows from Track table:\nTrackId\tName\tAlbumId\tMediaTypeId\tGenreId\tComposer\tMilliseconds\tBytes\tUnitPrice\n1\tFor Those About To Rock (We Salute You)\t1\t1\t1\tAngus Young, Malcolm Young, Brian Johnson\t343719\t11170334\t0.99\n2\tBalls to the Wall\t2\t2\t1\tU. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann\t342562\t5510424\t0.99\n3\tFast As a Shark\t3\t2\t1\tF. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman\t230619\t3990994\t0.99\n*/'

In [ ]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough #pass the function as a runable so that the chain can use it
from langchain_openai import ChatOpenAI #

llm = ChatOpenAI()

sql_chain = (
    RunnablePassthrough.assign(schema=get_schema) #assign a value to one of the variables
    | prompt
    | llm.bind(stop=["\nSQLResult:"]) #Stop generating more text for observability/security purposes #make it stop #good practice but not mandatory
    | StrOutputParser() #we want the result to be a string
)

In [ ]:
#THIS IS THE SQL CHAIN WORKING
#here we have a function to get the DB schema as a runable

user_question = 'how many albums are there in the database?'
sql_chain.invoke({"question": user_question})

#this will be run against the DB!
# 'SELECT COUNT(*) AS TotalAlbums\nFROM Album;'

'SELECT COUNT(*) AS TotalAlbums FROM Album;'

Last part - the **full chain** containing the previous one inside of it

In [25]:
from langchain_core.prompts import ChatPromptTemplate

template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Question: {question}
SQL Query:"""
prompt = ChatPromptTemplate.from_template(template)

In [ ]:
def run_query(query): #a method to run the output of the SQL Chain into the DB
    return db.run(query)

In [27]:
run_query("SELECT COUNT(*) AS TotalAlbums FROM Album;")

'[(347,)]'

In [ ]:
full_chain = (
    RunnablePassthrough.assign(query=sql_chain).assign( #here we use the output of the SQL Chain
        schema=get_schema, #another runable to know the DB Schema
        response=lambda variabales: print(variables), #lambda func that calls the variales
    )
)

In [32]:
# full_chain.invoke({"question":"how many artists are there"})

In [34]:
template = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""
prompt_response = ChatPromptTemplate.from_template(template)

In [ ]:
# This is the FULL CHAIN!!!

#here we have a function to run the query (as runable)

full_chain = (
    RunnablePassthrough.assign(query=sql_chain).assign( #here we use the output of the SQL Chain as runable!
        schema=get_schema, #another function as runable - to know the DB Schema
        response=lambda vars: run_query(vars["query"]), #lambda func that calls the variales
    )
    | prompt_response #passing it into our prompt for the full chain so that it replies in NaturalLanguage
    | llm
)

In [36]:
full_chain.invoke({"question":"how many artists are there"})

AIMessage(content='There are a total of 275 artists in the database.')

In [37]:
full_chain = (
    RunnablePassthrough.assign(query=sql_chain).assign( #here we use the output of the SQL Chain as runable!
        schema=get_schema, #another function as runable - to know the DB Schema
        response=lambda vars: run_query(vars["query"]), #lambda func that calls the variales
    )
    | prompt_response #passing it into our prompt for the full chain so that it replies in NaturalLanguage
    | llm
    | StrOutputParser() #OPTIONAL - to get only the string
)

In [38]:
full_chain.invoke({"question":"how many artists are there"})

'There are 275 artists in the database.'

## More Testing

Verify with:

```sh
#sudo mysql -u root
mysql -u root -p
```

In [ ]:
# 1) SIMPLE QUESTION: What are the titles of all albums by a specific artist?

# SELECT a.Title 
# FROM Album a
# JOIN Artist ar ON a.ArtistId = ar.ArtistId
# WHERE ar.Name = 'The Beatles';  -- Replace 'The Beatles' with the artist's name of interest

In [45]:
full_chain.invoke({"question":"What are the titles of all albums by AC/DC artist?"})

'The titles of all albums by the artist AC/DC are "For Those About To Rock We Salute You" and "Let There Be Rock".'

In [52]:
user_question = 'What are the titles of all albums by metallica artist?'
print(sql_chain.invoke({"question": user_question}))

SELECT Title
FROM Album
JOIN Artist ON Album.ArtistId = Artist.ArtistId
WHERE Artist.Name = 'Metallica';

In [50]:
full_chain.invoke({"question":user_question})

'The titles of all albums by the artist Metallica are \'Garage Inc. (Disc 1)\', \'Black Album\', \'Garage Inc. (Disc 2)\', "Kill \'Em All", \'Load\', \'Master Of Puppets\', \'ReLoad\', \'Ride The Lightning\', \'St. Anger\', and \'...And Justice For All\'.'

In [ ]:
## 2) Intermediate - How much total revenue (sum of total price) has each customer generated?

# SELECT c.FirstName, c.LastName, SUM(i.Total) AS TotalRevenue
# FROM Customer c
# JOIN Invoice i ON c.CustomerId = i.CustomerId
# GROUP BY c.CustomerId
# ORDER BY TotalRevenue DESC;

In [53]:
user_question = 'How much total revenue (sum of total price) has each customer generated?'
print(sql_chain.invoke({"question": user_question}))
print(full_chain.invoke({"question":user_question}))

SELECT c.CustomerId, c.FirstName, c.LastName, SUM(i.Total) AS TotalRevenue
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId, c.FirstName, c.LastName;
The SQL query was used to calculate the total revenue generated by each customer. The response provides the CustomerId, FirstName, LastName, and the TotalRevenue generated by each customer. The TotalRevenue is the sum of the total prices from the invoices associated with each customer in the database. The response lists the customers along with the respective total revenue they have generated.

In [ ]:
## 3. Advanced Question - Which employee has the highest total sales in terms of invoice amounts, and how much have they generated?

# SELECT e.FirstName, e.LastName, SUM(i.Total) AS TotalSales
# FROM Employee e
# JOIN Customer c ON e.EmployeeId = c.SupportRepId
# JOIN Invoice i ON c.CustomerId = i.CustomerId
# GROUP BY e.EmployeeId
# ORDER BY TotalSales DESC
# LIMIT 1;

In [54]:
user_question = 'Which employee has the highest total sales in terms of invoice amounts, and how much have they generated?'
print(sql_chain.invoke({"question": user_question}))
print(full_chain.invoke({"question":user_question}))

SELECT e.FirstName, e.LastName, SUM(i.Total) AS TotalSales
FROM Employee e
JOIN Customer c ON e.EmployeeId = c.SupportRepId
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY e.EmployeeId
ORDER BY TotalSales DESC
LIMIT 1;
The employee with the highest total sales in terms of invoice amounts is Jane Peacock, generating a total of $833.04.